<div>
	<nb-card>
		<nb-card-header>اضافة الطلبات</nb-card-header>
		<nb-card-body>
			<form #frm="ngForm" (ngSubmit)="save(frm)">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name">اسم الصنف</label>
							<input type="text" class="form-control" id="name" #name="ngModel"
								[(ngModel)]="Order.name" name="name"
								[ngClass]="{ 'is-invalid': frm.submitted && !name.valid }" required>
							<div *ngIf="frm.submitted && !name.valid" class="invalid-feedback">
								<div *ngIf="frm.submitted && !name.valid">
									<nb-alert status="danger"> برجاء إدخال
										اسم الصنف
									</nb-alert>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="value">القيمه</label>
							<input type="number" class="form-control" id="value" #value="ngModel"
								[(ngModel)]="Order.value" name="value"
								[ngClass]="{ 'is-invalid': frm.submitted && !value.valid }" required>
							<div *ngIf="frm.submitted && !value.valid" class="invalid-feedback">
								<div *ngIf="frm.submitted && !value.valid">
									<nb-alert status="danger"> برجاء إدخال
										القيمه
									</nb-alert>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="ingredients">المكونات</label>
							<textarea class="form-control" id="ingredients" cols="30" rows="10" #ingredients="ngModel"
								[(ngModel)]="Order.ingredients" name="ingredients"
								[ngClass]="{ 'is-invalid': frm.submitted && !ingredients.valid }" required></textarea>
							<div *ngIf="frm.submitted && !ingredients.valid" class="invalid-feedback">
								<div *ngIf="frm.submitted && !ingredients.valid">
									<nb-alert status="danger"> برجاء إدخال
										المكونات
									</nb-alert>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" (click)="addition()" class="btn btn-primary">اضافة</button>
			</form>
		</nb-card-body>
	</nb-card>
</div>